<?xml version="1.0"?>
<appSettings>
  <!--<add key="IFileStorage" value="WebFileManager.DiskFileSystem.DiskStorage, WebFileManager"/>
  <add key="IFilenameParser" value="WebFileManager.DiskFileSystem.DiskFilenameParser, WebFileManager"/>-->
  <add key="IFileStorage" value="WebFileManager.GridFS.GridStorage, WebFileManager"/>
  <add key="IFilenameParser" value="WebFileManager.GridFS.GridFilenameParser, WebFileManager"/>
</appSettings>