<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings configSource="appSettings.config" />
  <connectionStrings configSource="connectionStrings.config" />
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers configSource="system.web-httpHandlers.config" />
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="GET Minified CSS and Javascript" stopProcessing="true">
          <match url="(.+)\.min(\.css|\.js)$" />
          <action type="Rewrite" url="/Download.aspx?f={R:1}{R:2}&amp;min=1" logRewrittenUrl="true" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="GET" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
        </rule>
        <rule name="GET" stopProcessing="true">
          <match url=".+" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="GET" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="/Download.aspx?f={R:0}" logRewrittenUrl="true" />
        </rule>

      </rules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.76.4714.20545" newVersion="4.76.4714.20545" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>